/* style.css */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* style.css */
/* Style headings */
#markdown-content h1 {
    font-size: 24px;
    color: #333;
}

#markdown-content h2 {
    font-size: 20px;
    color: #555;
}

#markdown-content h3 {
    font-size: 16px;
    color: #777;
}

/* Style paragraphs */
#markdown-content p {
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Style links */
#markdown-content a {
    color: #007BFF;
    text-decoration: underline;
}

#markdown-content h1 {
    font-size: 28px;
    color: #007BFF;
    margin-bottom: 10px;
}

/* Style the code blocks */
#markdown-content pre {
    background-color: #f0f0f0;
    border: 1px solid #c14c4c;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.3;
    margin: 25px;
}

/* Style code block text */
#markdown-content pre code {
    color: #333;
}

/* Style inline code */
#markdown-content p code {
    background-color: #f7f7f7;
    padding: 2px 4px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    color: #333;
}

/* Adjust list spacing */
#markdown-content ul, #markdown-content ol {
    margin-left: 20px;
}
#markdown-content li {
    margin-bottom: 5px;
}

